# debian stable {{ RELEASE }}
deb {{ MIRROR }} {{ RELEASE }} main contrib non-free non-free-firmware
deb-src {{ MIRROR }} {{ RELEASE }} main contrib non-free non-free-firmware
deb https://security.debian.org/debian-security {{ RELEASE }}-security main contrib non-free non-free-firmware
deb-src https://security.debian.org/debian-security {{ RELEASE }}-security main contrib non-free non-free-firmware
deb {{ MIRROR }} {{ RELEASE }}-updates main contrib non-free non-free-firmware
deb-src {{ MIRROR }} {{ RELEASE }}-updates main contrib non-free non-free-firmware

# debian testing {{ NEXT_RELEASE }}
deb {{ MIRROR }} {{ NEXT_RELEASE }} main contrib non-free non-free-firmware
deb-src {{ MIRROR }} {{ NEXT_RELEASE }} main contrib non-free non-free-firmware
deb https://security.debian.org/debian-security {{ NEXT_RELEASE }}-security main contrib non-free non-free-firmware
deb-src https://security.debian.org/debian-security {{ NEXT_RELEASE }}-security main contrib non-free non-free-firmware
deb {{ MIRROR }} {{ NEXT_RELEASE }}-updates main contrib non-free non-free-firmware
deb-src {{ MIRROR }} {{ NEXT_RELEASE }}-updates main contrib non-free non-free-firmware
